<div class="container mt-3" style="max-width: 400px">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" *ngFor="let filter of filterargs; index as i">
      <a
        class="nav-link"
        id="navigator-tab"
        data-toggle="tab"
        routerLinkActive="active"
        role="tab"
        aria-selected="false"
        [routerLink]="['navigator']"
        [queryParams]="{ tab: [i] }"
        >{{ filterargs[i] }}</a
      >
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
